<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/jdbc
http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">


	<context:component-scan base-package="cn.org.njsoft">
	</context:component-scan>
	
	<!-- 配置数据源 -->
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/fnstproject" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 定义映射文件 -->
		<property name="mappingResources">
			<list>
		 		<value>cn/org/njsoft/model/User.hbm.xml</value>
				<value>cn/org/njsoft/model/UserType.hbm.xml</value>
				<value>cn/org/njsoft/model/Activity.hbm.xml</value>
				<value>cn/org/njsoft/model/SignIn.hbm.xml</value>
				<value>cn/org/njsoft/model/Gift.hbm.xml</value>
				<value>cn/org/njsoft/model/SignGift.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
 
	<bean id="userDaoImpl" name="userDaoImpl" class="cn.org.njsoft.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="giftDaoImpl" name="giftDaoImpl" class="cn.org.njsoft.dao.impl.GiftDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	
	<bean id="signInDaoImpl" name="signInDaoImpl" class="cn.org.njsoft.dao.impl.SignInDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="activityDaoImpl" name="activityDaoImpl" class="cn.org.njsoft.dao.impl.ActivityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- <bean id="excelDaoImpl" name="excelDaoImpl" class="cn.org.njsoft.dao.impl.ExcelDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> -->
</beans>